.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  min-height: 100vh;
  background-image: url("../images/family.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #0e0d0d;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }
}
