.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: #394645;
  padding: 14px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 24px;
  color: #ffffff !important;
}

.navbar-logo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.brand-highlight {
  color: #facc15;
}

.nav-link {
  color: #e5e7eb !important;
  font-weight: 500;
  margin: 0 10px;
  position: relative;
}

.nav-link:hover {
  color: #facc15 !important;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #facc15;
  left: 0;
  bottom: -6px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: invert(1);
}
